.button1, .button2 {
  background-color: purple;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  padding: 20px;
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
}

/* adds animation effect to button2 on hover*/
.button2:hover {
  position: relative;
  left:50px;
}